manifest {
	homePage = 'https://github.com/dhineshp565/strepsuis_typing'
    description = 'Pipeline for whole genome assembly and analysis of Streptococcus suis isolates'
	author= 'dhineshp565'
    mainScript = 'main.nf'
    version = 'v1.0.0'
	nextflowVersion= '>=22.12.0-edge'
	manifest.defaultBranch = "main"
	name = 'strepsuis_typing'
}


params {

    // Options: Mandatory
    input='filepath'
    out_dir= 'Results'	
	trim_barcodes= null		
	
}


profiles {
	standard{
		docker {
			includeConfig 'config/docker.config'
			docker.enabled=true
		}
	}
}


process {
	withLabel:low {
		cpus= 1
	 	memory= 2.GB
	 	time= 2.h
	 }
	 withLabel:medium {
	 	cpus= 8.0
	 	memory= 6.GB
		time= 4.h
	 }
	 withLabel:high {
	 	cpus=9.0
	 	memory=16.GB
	 	time= 8.h
	 }
}
timeline {
  enabled = true
  overwrite = true
  file = "${params.out_dir}/execution/timeline.html"
}
report {
  enabled = true
  overwrite = true
  file = "${params.out_dir}/execution/report.html"
}
trace {
  enabled = true
  overwrite = true
  file = "${params.out_dir}/execution/trace.txt"
}