process {
  withName:porechop {
    container = "quay.io/biocontainers/porechop:0.2.4--py39h1f90b4d_6"
}
 withName:dragonflye {
    container = "quay.io/biocontainers/dragonflye:1.1.1--hdfd78af_0"
 }
 withName:srst2 {
    container = "jimmyliu1326/ssuis_srst2"
 }
 withName:busco {
    container = "nanozoo/busco:5.5.0--427a3e7"
 }
 withName:make_report {
    container = "dhp565/rmd_ampliseq:21022024"
}
withName:mlst {
    container="staphb/mlst:2.23.0-2023-08"
  }
withName:abricate {
  container= "quay.io/biocontainers/abricate:1.0.1--ha8f3691_1"
 }
 withName:minimap2 {
    container = 'quay.io/staphb/minimap2:2.25'
}
  withName:samtools {
    container = "staphb/samtools:1.19"
}
withName:bcftools {
    container = "staphb/bcftools:1.19"
}
withName:resolve_sero {
    container = "dhp565/maptools:25032024"
}
  withName: medaka {
  container="ontresearch/medaka:sha447c70a639b8bcf17dc49b51e74dfcde6474837b"
}
}